.navbar {
  background-color: #1E002E;
  color: #FFFFFF;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-items span {
  margin: 0 15px;
  cursor: pointer;
}

.profile-icon {
  cursor: pointer;
}
